* {
  margin: 0;
  padding: 0;
 font-family: Arial; 
}
html, body {
  height: 100%
}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px
}

#app {
  margin: 50px
}

// ul {
//   cursor: pointer;

// }

li {
  cursor: pointer;
  list-style-type: none;
  height: 40px;
  margin: 10px;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-left: 25px;
  border-radius: 15px;
  position: relative;
}

li:nth-child(odd) {
  background-color: #363537;
  color: #FFFFFF;
}

li:nth-child(even) {
  background-color: #7a4c3f;
  color: #FFFFFF;
}

button {
  background-color: #363537;
  color: #FFFFFF;
  width: 100px;
  height: 50px;
  border-style: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}

li input {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 25px;
  cursor: pointer;
}

li.strikethrough {
  text-decoration: line-through;
}

.addItemInput{
  margin:10px;
}
.addItemInput #addItem {
  border-style: solid;
  border-width: 2px;
  border-color: #7a4c3f;
  height: 10px;
  width: 200px;
  border-radius: 15px;
  padding: 20px;

  
}

.right {
  position: absolute;
  right:15px;
}
